
html{

    background: linear-gradient(rgba(170, 157, 255, 1), rgb(90, 74, 163));

    height: 100%;
 
}

body{ 
    margin-top: 200px;
    margin-left: 550px;

}
.bigpart{
    
    height: 470px;
    width: 420px;
    background-color: rgba(35, 28, 45, 0.899);
    background-image: (rgba(35, 28, 45, 0.899));
    border-radius: 20px;
    box-shadow: 2px 2px 13px 2px  rgb(50, 51, 52);
    border-radius: 30px;
   

}
.TipCalculator{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-weight: bolder; 
    padding-top: 15%;
    font-size: 200%;
    color: aliceblue;
}
.seconddiv{
    text-align: left;
    color: aliceblue;
}
.boxlabel {
    display: block;
    margin-bottom: 10px;
    
    

}


